header {
    position: relative;
    background-image: url(../images/Layer15.png);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    position: relative;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
}

.nav-head {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    position: relative;
}

.hexagon-img {
    margin-right: 10px;
}

.letter-h {
    font-family: Roboto;
    font-size: 44px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 17%; 
    left: 6%; 
}

.the {
    font-weight: 300;
    font-family: Roboto;
    font-size: 44px;
    color: white;
}

.ham {
    font-weight: 600;
    font-family: Roboto;
    font-size: 44px;
    color: #18CFAB;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 305px;
}

.nav-menu li a {
    color: rgba(255, 255, 255, 0.60);
    margin-right: 20px;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
}

.nav-list {
    transition: color 0.3s ease;
}

.nav-list:hover {
    position: relative;
    color: #18CFAB;
}

.nav-list:hover::after {
    content: "";
    background: #18CFAB;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -49.8px;
    left: 0;
}

.menu {
    position: relative;
}

.search-img {
    position: absolute;
    left: 100%;
    top: -6%;
    width: 21px;
    height: 20px;
}

/* =============================== */

.text-in-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

.the-ham {
    color: white;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.wordpress {
    color: #18CFAB;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.h1-header {
    color: white;
    font-family: Roboto;
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.just-buy {
    color: #D4D4D4;
    font-family: Roboto;
    font-size: 34px;
    font-weight: 300;
}

/* =============================== */

.header-btn {
    display: flex;
    justify-content: center;
    margin-top: -110px;
}

.explore-now {
    width: 169px;
    height: 63px;
    border-radius: 4px;
    background: #18CFAB;
    border: none;
    color: white;
    font-family: Roboto;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0px -5px 0px 0px rgba(255,255,255,1);
    transition: background-color 0.4s ease;
}

.explore-now:hover {
    background-color: #00CBF6;
}

.purchase-now {
    width: 169px;
    height: 63px;
    border-radius: 4px;
    background: #18CFAB;
    border: none;
    color: white;
    font-family: Roboto;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 26px;
    box-shadow: 0px -5px 0px 0px rgba(255,255,255,1);
    transition: background-color 0.4s ease;
}

.purchase-now:hover {
    background-color: #00CBF6;
}

/* =============================== */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.grid-squares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 377px;
    border-top: 8px solid white;
    cursor: pointer;
}

.text-in-square {
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    margin-top: 59px;
}

.black-square {
    background-color: #1C2A33;
    color: #18CFAB;
}

.green-square {
    background-color: #2ECAA9;
    color: white;
}

/* ======================= */

.h2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 90px 0 130px 0;
}

.our-service-title {
    color: #4E4E4E;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 24px;
}

.title-lines {
    margin: 0 auto;
    height: 5px;
    width: 75px;
    border-top: 1px solid #18CFAB;
    border-bottom: 1px solid #18CFAB;
    transform: skewX(75deg);
}

.tabs-service a {
    list-style: none;
    padding-left: 20px;
    text-decoration: none;
}

.our-services {
    height: 238px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -59px;
}

.tabs-service {
    background-color: white;
    display: flex;
}

.tabs-title {
    display: flex;
    justify-content: center;
    width: 175px;
    height: 50px;
    font-family: Roboto;
    padding: 30px 20px 0;
    background-color: #F8FCFE;
    color: #4E4E4E;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
}


.tabs-title.active {
    background-color:#18CFAB ;
    color: white;
    position: relative;
}

.tabs-title.active::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #18CFAB;
}

.tabs-content {
    display: flex;
    gap: 20px;
    width: 1244px;
    margin-top: 23px;
}

.tab-img {
    height: 139px;
}

.p-block {
    width: 952px;
    flex: 1;
    height: 136px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: #777;
    position: absolute;
    left: 115%;
    top: 6%;
    line-height: 1.8;
}

.tab-block {
    display: flex;
    flex-direction: row;
    display: none; 
    position: relative;
}

.tab-block.active:target {
    display: block;
}

/* ===================== */

.parallax2 {
    position: relative;
    background-image: url(../images/Layer\ 21\ 1.jpg);
    height: 476px;
    margin: 91px 0 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.everything-is-ready {
    background: rgba(94, 93, 88, 0.6);
    position: relative;
}

.content-parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.everything {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 126px;
    color: #18CFAB;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.smooth {
    color: #D8D8D8;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    margin: 13px 0 67px 0;
}

.purchase-now2 {
    width: 169px;
    height: 63px;
    border-radius: 4px;
    background: #18CFAB;
    border: none;
    color: white;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 26px;
    box-shadow: 0px -5px 0px 0px rgba(255,255,255,1);
    transition: background-color 0.4s ease;
}

.purchase-now2:hover {
    background-color: #00CBF6;
}

/* ========================== */

.container-tabs {
    max-width: 1200px;
    margin: 0 auto;
}

.title-amazing-work {
    color: #4E4E4E;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    margin: 95px 0 20px 0;
}

.amazing-work-lines {
    margin: 0 auto;
    height: 5px;
    width: 75px;
    border-top: 1px solid #18CFAB;
    border-bottom: 1px solid #18CFAB;
    transform: skewX(75deg);
    margin-bottom: 69px;
}

.tabs-title-img {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 71px;
}

.tabs-img {
    display: flex;
    justify-content: center;
    padding: 21px 13px;
    cursor: pointer;
    font-size: 14px;
    min-width: 50px;
    font-family: Roboto;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    color: #717171;
}

.tabs-img:hover {
    color: #aaaaaa;
}

.tabs-img.active {
    border: 3px solid #18CFAB;
    color: #18CFAB;
}

.tabs-content-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 1200px;
    margin-left: 25%;
    margin: 0 auto;
}

.img-item {
    width: 285px;
    margin: 0 ;
    position: relative;
}


.img-item img {
    width: 100%;
}